---
layout: base.njk
title: Home
---
<head>
 <link rel="stylesheet" href="/css/style.css">
</head>

<h1 class="text-3xl font-bold">Home</h1>

<div class="button-container">
  <button class="depress-button"><span class="button-text">Yes</span></button>
</div>
<div class="button-container">
  <button class="depress-button">
    <span class="button-text">Welcome to my site! I am Pranav Srivatsa, a full stack developer
    and a Graduate Student at Virginia Tech, studying Computer Science.</span>
  </button>
</div>

