---
layout: base.njk
title: Tags
---

<h1>Tags</h1>

<div class="post-tags">
  {% for tag in collections.tagList %}
    <a href="/tags/{{ tag | slug }}/" class="tag">{{ tag }}</a>
  {% endfor %}
</div>
