<nav class="top-nav">
  <ul>
    <li><a class="menubtn" href="/">Home</a></li>
    <li><a class="menubtn" href="/about/">About</a></li>
    <li><a class="menubtn" href="/tags/">Tags</a></li>
    <li><a class="menubtn" href="/blog/">Blog</a></li>
  </ul>
</nav>