<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "My Eleventy Site" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="site-wrapper">

    <div class="bg bg1">
      <div class="bg bg-noise"></div>
      <div class="bg bg2 "></div>
      <div class="bg bg3 "></div>
      <div class="bg bg5 "></div>
    </div>

    {% include "nav.njk" %}

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <hr>
      <p>&copy; {{ global.now }} - Blog - Pranav Srivatsa</p>
    </footer>
  </div>
</body>
</html>